node_modules
docs
tests
coverage
.github
.idea
examples

.eslintrc
.editorconfig
.DS_Store
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock
yarn-error.log
tsconfig.lint.json
.env
.env.example
.prettierrc
