name: NPM publish
on: workflow_dispatch

jobs:
  publish:
    runs-on: self-hosted
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: npm ci --force
      - name: Create .env file
        run: |
          touch .env
          echo HOST=${{ secrets.HOST }} >> .env
          echo EMAIL=${{ secrets.EMAIL }} >> .env
          echo API_TOKEN=${{ secrets.API_TOKEN }} >> .env
      - name: Publishing
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
